/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

path {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.anyClass {
  height:275px;
  overflow-y: scroll;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

hr { background-color: #04BC8C; height: 2px; border: 0; }
