<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">

<!-- Start of Portfolio Container -->
<div class="container" id="positionsContainer">

    <!-- Start of Portfolio -->
    <div class="page-header">
        <h2>📁 Portfolio</h2> <br>
    </div>

    <div>
        <p *ngIf="loadedStocks.length < 1">No Stock available!</p>

        <ul class="row card-columns justify-content-md-center" *ngIf="loadedStocks.length >= 1">
            <div *ngFor="let stock of loadedStocks">
                <div class="col mb-4">
                  <div class="card" style="width: 16rem;">
                      <div class="card-header"><h3> {{ stock.name }} </h3></div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Quantity: </b>{{ stock.quantity }}</li>
                        <li class="list-group-item"><b>Average Price: $ </b>{{ stock.price.toFixed(2) }}</li>
                        <li class="list-group-item"><b>Total Cost: $ </b>{{ (stock.quantity * stock.price).toFixed(2) }}</li>
                      </ul>
                      <ul class="list-group list-group-flush" *ngIf="livePriceMap.has(stock.tickerName)">
                        <li class="list-group-item text-white" [ngClass] = " { 'bg-success' : isAccountPositive(stock), 'bg-danger' : !isAccountPositive(stock) } "><b>Live Price: $ </b>{{ livePriceMap.get(stock.tickerName).toFixed(2) }}</li>
                        <li class="list-group-item text-white" [ngClass] = " { 'bg-success' : isAccountPositive(stock), 'bg-danger' : !isAccountPositive(stock) } "><b>Live Total Value: $ </b>{{ (stock.quantity * livePriceMap.get(stock.tickerName)).toFixed(2) }}</li>
                        <li class="list-group-item text-white" [ngClass] = " { 'bg-success' : isAccountPositive(stock), 'bg-danger' : !isAccountPositive(stock) } "><b>Live Net Value: $ </b>{{ ((stock.quantity * livePriceMap.get(stock.tickerName)) - (stock.quantity * stock.price)).toFixed(2) }}</li>
                      </ul>
                  </div>
                </div>
            </div>
        </ul>

        <div class="alert alert-danger" *ngIf="error">
            <h1>An Error Occurred!</h1>
            <p>{{ error }}</p>
        </div>

    </div>

<br><br><hr/><br><br>
</div>

<!-- Start of New Trade / Trade History Container -->
<div class="container" id="tradesContainer">
    <div class="row justify-content-lg-center">

        <!-- Start of New Trade Form -->
        <div class="col-md-4">

            <div class = "page-header">
                <h2>📝 New Trade</h2> <br>
            </div>

            <form #tradeForm="ngForm" (ngSubmit)="onCreateTrade(tradeForm.value); tradeForm.reset();">
                <div class="form-group">
                    <label for="ticker">Ticker</label>
                    <input
                        type="text"
                        placeholder="C"
                        class="form-control"
                        id="ticker"
                        required
                        ngModel
                        name="ticker"
                    />
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input
                        type="number"
                        placeholder='1'
                        min = '1'
                        class="form-control"
                        id="quantity"
                        required
                        ngModel
                        name="quantity"
                    />
                </div>
                <div class="form-group">
                    <label for="requestedPrice">Requested Price</label>
                    <input #requestedPrice
                        type="number"
                        class="form-control"
                        id="requestedPrice"
                        step='0.01'
                        min = '0.01'
                        placeholder='0.01'
                        required
                        ngModel
                        name="requestedPrice"
                    />
                </div>
                <div class="form-group">
                    <input type="radio" id="tradeTypeBuy" name="type" value="BUY" checked="True" ngModel>
                    <label for="tradeTypeBuy">&nbsp; BUY</label><br>
                    <input type="radio" id="tradeTypeSell" name="type" value="SELL" ngModel>
                    <label for="tradeTypeSell">&nbsp; SELL</label><br>
                </div>
                <button
                    class="btn btn-primary"
                    type="button"
                    onclick="
                        async function getLivePrice(ticker) {
                        // This is ugly please don't look

                        if(!ticker) {
                            alert('👿 👿 👿 Please enter a ticker first. 👿 👿 👿');
                            return;
                        }

                        // Make request
                        var priceServiceUrl = 'https://qxup5m1v5f.execute-api.eu-west-1.amazonaws.com/default/simplePriceFeed';
                        const getPriceUrl = priceServiceUrl + '?ticker=' + ticker + '&num_days=1';

                        const response = await fetch(getPriceUrl);
                        const json = await response.json()
                        if(!json['price_data']) {
                            alert('👿 👿 👿 Invalid ticker! 👿 👿 👿');
                            return;
                        }

                        const lastPrice = json['price_data'][0][1]

                        // TODO: this updates the display but won't update the bound value in the form. idk bro
                        document.getElementById('requestedPrice').value = '';
                        document.getElementById('requestedPrice').placeholder = lastPrice.toFixed(2);

                        alert('Live price for ' + ticker + ' is: $ ' + lastPrice.toFixed(2) + ' and has been suggested. Please adjust/fill out the price field before submitting.')

                        };
                        getLivePrice(document.getElementById('ticker').value);"
                    >
                    Suggest Live Price
                </button>
                &nbsp;
                <button
                  class="btn btn-primary"
                  type="submit"
                >
                    Send Trade
                </button>
            </form>

            <br><br>
            <div class="alert alert-success" role="alert" *ngIf="successTrade" type="success" (close)="successTrade = ''">{{ successTrade }}</div>
            <div class = "page-header">
                <h4>💸 Cash Balance: $ {{ userCashAmount }}</h4>
            </div>




        </div>

        <!-- Start of Trade History -->
        <div class="col-lg-8">
            <div class = "page-header">
                <h2>📚 Trade History</h2> <br>
            </div>
            <div id="tradeDiv"></div>
        </div>

    </div>

<br><br><hr/><br><br>
</div>


